.academics {
  width: 280%;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 3vw;
}
.acdemics-sec-1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.acdemics-sec-1 > div:nth-child(1) {
  width: 40%;
  height: 100%;
}
.acdemics-sec-1 > div:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.acdemics-sec-1 > div:nth-child(2),
.acdemics-sec-1 > div:nth-child(3) {
  width: 30%;
  height: 100%;
}
.acdemics-sec-1 > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  padding: 4vw;
  background-image: url("../assets/Frame371.png");
  background-position: center;
  background-size: cover;
  /* justify-content: center; */
}
.acdemics-sec-1 > div:nth-child(3) h3 {
  font-size: 2vw;
  font-weight: normal;
  margin-bottom: 4vh;
}
.content-acad {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
.acdemics-sec-1 > div:nth-child(3) p {
  font-size: 1vw;
  font-weight: normal;
  background-color: #e89c2e;
  padding: 2vw;
  color: #fff;
}
.float-row {
  position: absolute;
  top: 14vh;
  width: 40vw;
  background-color: #fff;
  padding: 2vw;
  left: 48vh;
}
.float-row h3 {
  font-size: 2vw;
  font-weight: normal;
  margin-bottom: 2vh;
}
.float-row p {
  font-size: 1vw;
  font-weight: normal;
  text-align: justify;
}
/* section-2 */
.acad-section-2 {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  column-gap: 2vw;
}
.acad-section-2 > div:nth-child(1) {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3vh;
}
.acad-section-2 > div:nth-child(2) {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.acad-section-2 > div > div {
  display: flex;
  width: 100%;
  column-gap: 2vw;
}
.acad-section-2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1),
.acad-section-2 > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
  background-color: #8d191c;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  text-align: center;
  color: #fff;
}
.acad-section-2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(2),
.acad-section-2 > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  text-align: center;
  color: #000;
  background-color: #f5f5f5;
}
.acad-section-2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(3),
.acad-section-2 > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  text-align: center;
  color: #fff;
  background-color: #0076b9;
}
.acad-section-2 > div > div h3 {
  font-size: 2vw;
  margin-bottom: 1vh;
}
.acad-section-2 > div > div p {
  font-size: 1vw;
  font-weight: normal;
}
.column-r2 {
  background-color: #f5f5f5;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
.column-r2 h3 {
  font-size: 2vw;
  font-weight: normal;
}
.column-r2 p {
  font-size: 1vw;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #a4a4a4;
  padding-bottom: 1vh;
}
/* section-3 */
.acad-sec-3 {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 3vw;
}
.acad-sec-3 > div:nth-child(1) {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.acad-sec-3 > div:nth-child(1) h3 {
  font-size: 1.6vw;
  margin-bottom: 2vh;
  font-weight: normal;
}
.acad-sec-3 > div:nth-child(1) > div {
  width: 100%;
  display: flex;
  column-gap: 2vw;
}
.acad-sec-3 > div:nth-child(1) > div > span {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}
.acad-sec-3 > div:nth-child(1) > div > span p {
  font-size: 1vw;
  background-color: #e3d6b6;
  padding: 0.7vw;
  text-align: center;
  font-weight: 500;
  height: 7vh;
}
.acad-sec-3 > div:nth-child(2) {
  width: 50%;
  height: 100%;
}
.acad-sec-3 > div:nth-child(2) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sectionmobile {
  display: none;
}
@media only screen and (max-width: 1100px) {
  #section-2 {
    display: none !important;
  }
  .sectionmobile {
    display: block !important;
  }
  .landing {
    height: 110px !important;
  }

  .mobile-panel {
    width: 100% !important;
    height: 100% !important;
  }
  .academics,
  .acdemics-sec-1,
  .acad-section-2,
  .acad-sec-3 {
    display: block !important;
    width: 100% !important;
  }
  .float-row {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
  }
  .menu-main-right {
    display: none !important;
  }
  .menu-main-left {
    width: 68vw !important;
  }

  .menu-top h3 {
    font-size: 6vw !important;
    margin-bottom: 2vh;
  }
  .menu-top a {
    font-size: 4vw !important;
  }
  .menu-top2 a {
    font-size: 5.8vw !important;
  }
  .menu-top {
    height: auto !important;
  }
  .menu-top2 {
    height: auto;
  }
  .menu-arrow-img {
    top: 6vh !important;
    left: 23vw !important;
  }
  .menu-arrow-img img {
    width: 50vw !important;
  }
  .close-btn {
    top: 1vh;
    right: 7vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 1vh 4vw;
  }
  .close-btn img {
    width: 2vw !important;
  }
  .academics {
    padding: 10px !important;
  }
  .header-main {
    z-index: 1 !important;
  }
  .header .header-img-01 {
    width: 40vw !important;
  }
  .header-img-02 {
    width: 20vw !important;
  }
  .topbar p {
    font-size: 3vw !important;
  }
  .acdemics-sec-1 > div:nth-child(1),
  .acdemics-sec-1 > div:nth-child(2),
  .acdemics-sec-1 > div:nth-child(3),
  .acad-section-2 > div:nth-child(1) {
    width: 100% !important;
  }
  .float-row {
    width: 95vw !important;
  }
  .acdemics-sec-1 > div:nth-child(3) h3,
  .acad-section-2 > div > div h3 {
    font-size: 6vw !important;
  }
  .acdemics-sec-1 > div:nth-child(3) p,
  .acad-section-2 > div > div p,
  .column-r2 p,
  .acad-sec-3 > div:nth-child(1) > div > span p {
    font-size: 3vw !important;
  }
  .float-row h3,
  .column-r2 h3 {
    font-size: 5vw !important;
  }
  .float-row p {
    font-size: 16px !important;
  }
  .acad-section-2 {
    margin-top: 20px;
  }
  .acad-section-2 > div:nth-child(2),
  .acad-sec-3 > div:nth-child(1),
  .acad-sec-3 > div:nth-child(2) {
    width: 100% !important;
    margin-top: 10px !important;
  }
  .acad-sec-3 > div:nth-child(1) > div > span p {
    padding: 1.7vw !important;
    height: 6vh !important;
    font-size: 2.6vw !important;
  }
  .acad-sec-3 > div:nth-child(1) h3 {
    font-size: 4.5vw !important;
  }
}
/* footer */
.footer {
  display: flex;
  width: 100%;
  column-gap: 3vw;
  justify-content: center;
  background: #f5f5f5;
  position: relative;
  padding: 5vw;
  padding-bottom: 5vw !important;
}
.footer > div {
  width: 25%;
  height: 100%;
}
.footer > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
.footer > div:nth-child(1) img {
  width: 14vw;
}
.footer > div:nth-child(4) img {
  width: 100%;
  object-fit: cover;
}
.footer h3 {
  font-size: 1.9vw;
  font-weight: normal;
  color: var(--color-brown);
}
.footer h4 {
  font-size: 1.3vw;
  font-weight: normal;
  color: var(--color-brown);
}
.contact-us h4 {
  margin-bottom: 2vh;
}
.footer p {
  font-size: 1vw;
  font-weight: normal;
}
.heading-foot {
  margin-bottom: 2vh;
}
.heading-foot span {
  display: flex;
  align-items: center;
  column-gap: 1vw;
}
.address-row {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
.address-row img {
  width: 1.5vw;
}
.address-row p {
  margin-left: 2.6vw;
}
.social-links {
  display: flex;
  align-items: center;
  column-gap: 1vw;
}
.social-links a:nth-child(1) img,
.social-links a:nth-child(2) img {
  width: 2vw !important;
}
.social-links a:nth-child(3) img {
  width: 1.5vw !important;
}
.social-links a:nth-child(4) img {
  width: 1.9vw !important;
}
/* form-code */
.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-group input[type="tel"] {
  border-right: none;
}

.form-group input[type="tel"]::after {
  content: "+91";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.form-group select {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.form-group select:last-child {
  margin-right: 0;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #edc77c;
  color: var(--color-brown);
  border: none;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #fff;
}
.form-group {
  margin-bottom: 10px;
}
.footer-row .form-group:last-child {
  margin-bottom: 0;
}
.footer .footer-row:nth-child(4) {
  background-color: #661414;
  padding: 1vw 2vw;
}
.footer .footer-row:nth-child(4) h3 {
  color: #fff;
  margin-bottom: 1.5vh;
  font-size: 1.5vw;
}
.foot-bottom {
  position: absolute;
  bottom: 2vh;
  display: flex;
  column-gap: 2vw;
  align-items: center;
}
.foot-bottom a {
  font-size: 1vw;
  font-weight: normal;
  border-right: solid 1px #828282;
  padding-right: 2vw;
}
.foot-bottom a:last-child {
  border: none;
}
@media only screen and (min-width:768px) and (max-width:1101px){
    .acad-sec-3 > div:nth-child(1) > div > span p {
        height: 10vh !important;
    }
}