.board-of-advisors {
  width: 168%;
  height: 100%;
  display: flex;
  align-items: center;
}
.board-of-advisors > .row {
  width: calc(168% / 6);
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  padding: 2vw;
}
.board-of-advisors .row .img {
  width: 100%;
  height: 77%;
  margin-bottom: 2vh;
}
.board-of-advisors .row:nth-child(2) .content,
.board-of-advisors .row:nth-child(3) .content,
.board-of-advisors .row:nth-child(6) .content {
  color: #fff;
}
.board-of-advisors .row a {
  height: 100%;
  color: initial;
}
.board-of-advisors .row .content {
  width: 100%;
  height: 20%;
}
.board-of-advisors .row .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.board-of-advisors .row h3 {
  font-size: 1.5vw;
  font-weight: normal;
  margin-bottom: 1vh;
}
.board-of-advisors .row p {
  font-size: 1vw;
  font-weight: normal;
  text-align: justify;
}
.board-of-advisors .row:nth-child(1) {
  background-color: #ffe2a1;
  color: #000;
}
.board-of-advisors .row:nth-child(2) {
  background-color: #8e8e8e;
  color: #ffffff;
}
.board-of-advisors .row:nth-child(3) {
  background-color: #8c1515;
  color: #ffffff;
}
.board-of-advisors .row:nth-child(4) {
  background-color: #ffcb64;
  color: #000;
}
.board-of-advisors .row:nth-child(5) {
  background-color: #ffefd2;
  color: #000;
}
.board-of-advisors .row:nth-child(6) {
  background-color: #8c1515;
  color: #ffffff;
}
.mobile-section {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .section.horizontal {
    display: none !important;
  }
  .mobile-section {
    display: block !important;
  }
  .header-main {
    position: relative !important;
    width: 100%;
    z-index: 1;
  }
  .topbar {
    height: 40px !important;
  }
  .header {
    height: 60px !important;
  }
  .landing {
    height: 100px !important;
  }
  .header .header-img-01 {
    width: 40vw !important;
  }
  .header-img-02 {
    width: 24vw !important;
  }
  .topbar p {
    font-size: 3vw !important;
  }
  .topbar-right-img p {
    display: none !important;
  }

  .topbar-right-img {
    padding: 6px !important;
    border-radius: 0 !important;
  }
  .board-of-advisors {
    width: 100% !important;
    padding: 10px !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .board-of-advisors > .row {
    width: 100% !important;
    row-gap: 1vh !important;
    padding-bottom: 10vw !important;
  }
  .board-of-advisors .row h3 {
    font-size: 4vw !important;
  }
  .board-of-advisors .row p {
    font-size: 2vw !important;
  }
}
/* footer */
.footer {
  display: flex;
  width: 100%;
  column-gap: 3vw;
  justify-content: center;
  background: #f5f5f5;
  position: relative;
  padding: 5vw;
  padding-bottom: 5vw !important;
}
.footer > div {
  width: 25%;
  height: 100%;
}
.footer > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
.footer > div:nth-child(1) img {
  width: 14vw;
}
.footer > div:nth-child(4) img {
  width: 100%;
  object-fit: cover;
}
.footer h3 {
  font-size: 1.9vw;
  font-weight: normal;
  color: var(--color-brown);
}
.footer h4 {
  font-size: 1.3vw;
  font-weight: normal;
  color: var(--color-brown);
}
.contact-us h4 {
  margin-bottom: 2vh;
}
.footer p {
  font-size: 1vw;
  font-weight: normal;
}
.heading-foot {
  margin-bottom: 2vh;
}
.heading-foot span {
  display: flex;
  align-items: center;
  column-gap: 1vw;
}
.address-row {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
.address-row img {
  width: 1.5vw;
}
.address-row p {
  margin-left: 2.6vw;
}
.social-links {
  display: flex;
  align-items: center;
  column-gap: 1vw;
}
.social-links a:nth-child(1) img,
.social-links a:nth-child(2) img {
  width: 2vw !important;
}
.social-links a:nth-child(3) img {
  width: 1.5vw !important;
}
.social-links a:nth-child(4) img {
  width: 1.9vw !important;
}
/* form-code */
.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-group input[type="tel"] {
  border-right: none;
}

.form-group input[type="tel"]::after {
  content: "+91";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.form-group select {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.form-group select:last-child {
  margin-right: 0;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #edc77c;
  color: var(--color-brown);
  border: none;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #fff;
}
.form-group {
  margin-bottom: 10px;
}
.footer-row .form-group:last-child {
  margin-bottom: 0;
}
.footer .footer-row:nth-child(4) {
  background-color: #661414;
  padding: 1vw 2vw;
}
.footer .footer-row:nth-child(4) h3 {
  color: #fff;
  margin-bottom: 1.5vh;
  font-size: 1.5vw;
}
.foot-bottom {
  position: absolute;
  bottom: 2vh;
  display: flex;
  column-gap: 2vw;
  align-items: center;
}
.foot-bottom a {
  font-size: 1vw;
  font-weight: normal;
  border-right: solid 1px #828282;
  padding-right: 2vw;
}
.foot-bottom a:last-child {
  border: none;
}
