.board-memeber {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1vw;
  padding: 1vw 4vw;
}
.board-memeber .row:nth-child(1) {
  width: 30%;
  height: 100%;
  margin-right: 5vw;
}
.board-memeber .row:nth-child(3) {
  width: 30%;
  align-self: flex-start;
  position: relative;
}
.board-memeber .row:nth-child(1) p {
  font-size: 0.9vw;
  margin-bottom: 1vw;
  color: #3e3e3e;
  text-align: justify;
}
.board-memeber .row:nth-child(2) {
  width: 40%;
  height: 100%;
  position: relative;
}
.board-memeber .row:nth-child(2) img {
  width: 35vw;
  object-fit: cover;
}
.board-memeber .row:nth-child(3) {
  display: flex;
  column-gap: 1.5vw;
}
.board-memeber .row:nth-child(3) > div:nth-child(1),
.board-memeber .row:nth-child(3) > div:nth-child(2) {
  width: 50%;
}
.board-memeber .row:nth-child(3) > div:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.board-memeber .row:nth-child(3) > div:nth-child(2) h3 {
  font-size: 1.5vw;
  color: var(--color-brown);
  font-weight: normal;
  margin-bottom: 1vh;
  position: relative;
}
.board-memeber .row:nth-child(3) > div:nth-child(2) h3::before {
  content: "";
  width: 0.2vw;
  height: 70%;
  top: 0.7vh;
  left: -0.6vw;
  background: #ffd073;
  position: absolute;
}
.board-memeber .row:nth-child(3) > div:nth-child(2) p {
  font-size: 1vw;
  font-weight: normal;
  font-style: italic;
}
.board-memeber .row:nth-child(2) h3 {
  position: absolute;
  left: 30%;
  top: 38%;
  font-size: 4vw;
  color: #fff;
  font-weight: normal;
}
.float-rmore {
  position: absolute;
  top: 17vh;
  left: 20vh;
  background: #fff;
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transform: rotate(30deg);
  font-weight: normal;
  transition: all 0.2s ease-in;
}
.float-rmore:hover {
  background-color: black;
  color: #fff;
}
/* footer */
.footer {
  display: flex;
  width: 100%;
  column-gap: 3vw;
  justify-content: center;
  background: #f5f5f5;
  position: relative;
  padding: 5vw;
  padding-bottom: 5vw !important;
}
.footer > div {
  width: 25%;
  height: 100%;
}
.footer > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
.footer > div:nth-child(1) img {
  width: 14vw;
}
.footer > div:nth-child(4) img {
  width: 100%;
  object-fit: cover;
}
.footer h3 {
  font-size: 1.9vw;
  font-weight: normal;
  color: var(--color-brown);
}
.footer h4 {
  font-size: 1.3vw;
  font-weight: normal;
  color: var(--color-brown);
}
.contact-us h4 {
  margin-bottom: 2vh;
}
.footer p {
  font-size: 1vw;
  font-weight: normal;
}
.heading-foot {
  margin-bottom: 2vh;
}
.heading-foot span {
  display: flex;
  align-items: center;
  column-gap: 1vw;
}
.address-row {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
.address-row img {
  width: 1.5vw;
}
.address-row p {
  margin-left: 2.6vw;
}
.social-links {
  display: flex;
  align-items: center;
  column-gap: 1vw;
}
.social-links a:nth-child(1) img,
.social-links a:nth-child(2) img {
  width: 2vw !important;
}
.social-links a:nth-child(3) img {
  width: 1.5vw !important;
}
.social-links a:nth-child(4) img {
  width: 1.9vw !important;
}
/* form-code */
.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-group input[type="tel"] {
  border-right: none;
}

.form-group input[type="tel"]::after {
  content: "+91";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.form-group select {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.form-group select:last-child {
  margin-right: 0;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #edc77c;
  color: var(--color-brown);
  border: none;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #fff;
}
.form-group {
  margin-bottom: 10px;
}
.footer-row .form-group:last-child {
  margin-bottom: 0;
}
.footer .footer-row:nth-child(4) {
  background-color: #661414;
  padding: 1vw 2vw;
}
.footer .footer-row:nth-child(4) h3 {
  color: #fff;
  margin-bottom: 1.5vh;
  font-size: 1.5vw;
}
.foot-bottom {
  position: absolute;
  bottom: 2vh;
  display: flex;
  column-gap: 2vw;
  align-items: center;
}
.foot-bottom a {
  font-size: 1vw;
  font-weight: normal;
  border-right: solid 1px #828282;
  padding-right: 2vw;
}
.foot-bottom a:last-child {
  border: none;
}
.mobile-section {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .section.horizontal {
    display: none !important;
  }
  .mobile-section {
    display: block !important;
  }
  .landing {
    height: 110px !important;
  }
  .board-memeber {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
  .board-memeber .row:nth-child(1),
  .board-memeber .row:nth-child(3) {
    width: 100% !important;
  }
  .board-memeber .row:nth-child(1) p {
    font-size: 10px !important;
  }
  .board-memeber .row:nth-child(2) img {
    width: 92vw !important;
    object-fit: cover;
  }
  .float-rmore {
    top: 14vh !important;
    left: 17vh !important;
    width: 20vw !important;
    height: 20vw !important;
    font-size: 15px !important;
  }
  .board-memeber .row:nth-child(3) > div:nth-child(2) h3 {
    font-size: 20px !important;
  }
  .board-memeber .row:nth-child(3) > div:nth-child(2) p {
    font-size: 12px !important;
  }
  .board-memeber .row:nth-child(3) {
    column-gap: 20px !important;
  }
  .board-memeber .row:nth-child(3) > div:nth-child(2) h3::before {
    width: 2px !important;
    left: -8px !important;
    top: 4px !important;
  }
}
