.faculty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1vh;
  padding: 1vh 3vw;
  padding-right: 1vw;
}
.faculty-nopadding {
  margin-left: -4vw;
}
.faculty .row1,
.faculty .row2 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faculty .row1 .column,
.faculty .row2 .column {
  width: calc(100% / 5);
  height: 100%;
}
.faculty .row1 img,
.faculty .row2 img {
  width: 70%;
  object-fit: cover;
}
.faculty .row1 h3,
.faculty .row2 h3 {
  font-size: 1.1vw;
  font-weight: normal;
  width: 70%;
}
.faculty .row1 p,
.faculty .row2 p {
  font-size: 0.8vw;
  font-weight: normal;
  font-style: italic;
  width: 70%;
}
.faculty-lastSection {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 2vw;
}
.row0 h3 {
  font-size: 2vw;
  font-weight: normal;
  transform: rotate(-90deg);
  width: 100vw;
}
.faculty-lastSection > div:nth-child(1) {
  width: 7%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #474747;
  color: #fff;
}
.faculty-lastSection > div:nth-child(2) {
  width: 90%;
  height: 100%;
}
.row00 > div {
  justify-content: flex-start !important;
}
/* footer */
.footer {
  display: flex;
  width: 100%;
  column-gap: 3vw;
  justify-content: center;
  background: #f5f5f5;
  position: relative;
  padding: 5vw;
  padding-bottom: 5vw !important;
}
.footer > div {
  width: 25%;
  height: 100%;
}
.footer > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
.footer > div:nth-child(1) img {
  width: 14vw;
}
.footer > div:nth-child(4) img {
  width: 100%;
  object-fit: cover;
}
.footer h3 {
  font-size: 1.9vw;
  font-weight: normal;
  color: var(--color-brown);
}
.footer h4 {
  font-size: 1.3vw;
  font-weight: normal;
  color: var(--color-brown);
}
.contact-us h4 {
  margin-bottom: 2vh;
}
.footer p {
  font-size: 1vw;
  font-weight: normal;
}
.heading-foot {
  margin-bottom: 2vh;
}
.heading-foot span {
  display: flex;
  align-items: center;
  column-gap: 1vw;
}
.address-row {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
.address-row img {
  width: 1.5vw;
}
.address-row p {
  margin-left: 2.6vw;
}
.social-links {
  display: flex;
  align-items: center;
  column-gap: 1vw;
}
.social-links a:nth-child(1) img,
.social-links a:nth-child(2) img {
  width: 2vw !important;
}
.social-links a:nth-child(3) img {
  width: 1.5vw !important;
}
.social-links a:nth-child(4) img {
  width: 1.9vw !important;
}
/* form-code */
.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-group input[type="tel"] {
  border-right: none;
}

.form-group input[type="tel"]::after {
  content: "+91";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.form-group select {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.form-group select:last-child {
  margin-right: 0;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #edc77c;
  color: var(--color-brown);
  border: none;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #fff;
}
.form-group {
  margin-bottom: 10px;
}
.footer-row .form-group:last-child {
  margin-bottom: 0;
}
.footer .footer-row:nth-child(4) {
  background-color: #661414;
  padding: 1vw 2vw;
}
.footer .footer-row:nth-child(4) h3 {
  color: #fff;
  margin-bottom: 1.5vh;
  font-size: 1.5vw;
}
.foot-bottom {
  position: absolute;
  bottom: 2vh;
  display: flex;
  column-gap: 2vw;
  align-items: center;
}
.foot-bottom a {
  font-size: 1vw;
  font-weight: normal;
  border-right: solid 1px #828282;
  padding-right: 2vw;
}
.foot-bottom a:last-child {
  border: none;
}
.mobile-section {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .section.horizontal {
    display: none !important;
  }
  .mobile-section {
    display: block !important;
  }
  .landing {
    height: 110px !important;
  }
  .menu-main-right {
    display: none !important;
  }
  .menu-main-left {
    width: 68vw !important;
  }
  .faculty .row1,
  .faculty .row2 {
    height: auto !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .faculty .row1 .column,
  .faculty .row2 .column {
    width: 100%;
    margin-bottom: 20px !important;
  }
  .faculty .row1 img,
  .faculty .row2 img {
    width: 100%;
  }
  .faculty-lastSection > div:nth-child(2) {
    width: 100%;
  }
  .faculty .row1 h3,
  .faculty .row2 h3 {
    font-size: 18px;
    width: 100%;
  }
  .faculty .row1 p,
  .faculty .row2 p {
    font-size: 12px;
    width: 100%;
  }

  .faculty-lastSection {
    flex-direction: column;
    row-gap: 20px;
  }
  .faculty-lastSection > div:nth-child(1) {
    width: 100%;
    padding: 20px;
  }
  .row0 h3 {
    transform: none;
    font-size: 18px;
  }
  .menu-top h3 {
    font-size: 6vw !important;
    margin-bottom: 2vh;
  }
  .menu-top a {
    font-size: 4vw !important;
  }
  .menu-top2 a {
    font-size: 5.8vw !important;
  }
  .menu-top {
    height: auto !important;
  }
  .menu-top2 {
    height: auto;
  }
  .menu-arrow-img {
    top: 6vh !important;
    left: 23vw !important;
  }
  .menu-arrow-img img {
    width: 50vw !important;
  }
  .close-btn {
    top: 1vh;
    right: 7vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 1vh 4vw;
  }
  .close-btn img {
    width: 2vw !important;
  }
  .academics {
    padding: 30px 20px !important;
  }
  .header-main {
    z-index: 1 !important;
  }
  .header .header-img-01 {
    width: 50vw !important;
  }
  .header-img-02 {
    width: 20vw !important;
  }
  .topbar p {
    font-size: 3vw !important;
  }
  .faculty .row1,
  .faculty .row2 {
    column-gap: 1vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1101px) {
  .faculty {
    margin-top: 100px !important;
  }
}
