.how-to-apply {
  width: 265%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1vh 0 1vh 0;
  column-gap: 2vw;
}
h4 {
  font-size: 1.5vw;
}
.hta-section-1 {
  display: flex;
  column-gap: 2vw;
  align-items: center;
  height: 100%;
}
.hta-section-1 .row {
  width: 33.33%;
}
.hta-section-1 .row ul {
  margin-left: 1.1vw;
}
.hta-section-1 .row h3 {
  font-size: 2vw;
  font-weight: normal;
  margin-bottom: 3vh;
}
.hta-section-1 .row h4 {
  font-size: 1.5vw;
  font-weight: normal;
  margin-bottom: 2vh;
}
.hta-section-1 .row p {
  font-size: 1vw;
  font-weight: normal;
  font-style: italic;
}
.hta-section-1 .row li {
  font-size: 1vw;
  font-weight: normal;
  margin-bottom: 2vh;
}
.hta-section-1 .row:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hta-section-1 .row .column {
  background-color: #f5f5f5;
  padding: 2vw;
}
/* section-2 */
.hta-section-2 {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 2vw;
}
.hta-section-2 .row:nth-child(1) {
  width: 8%;
  height: 100%;
  background-color: #474747;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hta-section-2 .row:nth-child(1) h3 {
  color: #fff;
  font-size: 2vw;
  transform: rotate(-90deg);
  font-weight: normal;
  width: 19vw;
  font-family: var(--font-raleway) !important;
}
.hta-section-2 .row:nth-child(2),
.hta-section-2 .row:nth-child(3) {
  width: 46%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1vw;
}
.hta-section-2 .row:nth-child(2) .column {
  display: flex;
  align-items: center;
  column-gap: 1vw;
  width: 100%;
}
.hta-section-2 .row:nth-child(2) .column .inner-column {
  width: 33.33%;
  padding: 1vw;
  height: 24vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hta-section-2 .row:nth-child(2) .column .inner-column p {
  font-size: 1.3vw;
  font-weight: normal;
}
.hta-section-2 .row:nth-child(2) .column .inner-column h3 {
  font-size: 3vw;
  font-weight: 800;
  position: relative;
  top: 0;
  right: 0;
  align-self: end;
  color: #ccc;
}
.hta-section-2
  .row:nth-child(2)
  .column:nth-child(1)
  .inner-column:nth-child(1),
.hta-section-2
  .row:nth-child(2)
  .column:nth-child(2)
  .inner-column:nth-child(3),
.hta-section-2
  .row:nth-child(2)
  .column:nth-child(3)
  .inner-column:nth-child(1) {
  background-color: #8d191c;
  color: #fff;
}
.hta-section-2
  .row:nth-child(2)
  .column:nth-child(1)
  .inner-column:nth-child(2),
.hta-section-2
  .row:nth-child(2)
  .column:nth-child(2)
  .inner-column:nth-child(1),
.hta-section-2
  .row:nth-child(2)
  .column:nth-child(3)
  .inner-column:nth-child(2) {
  background-color: #0076b9;
  color: #fff;
}
.hta-section-2
  .row:nth-child(2)
  .column:nth-child(1)
  .inner-column:nth-child(3),
.hta-section-2
  .row:nth-child(2)
  .column:nth-child(2)
  .inner-column:nth-child(2) {
  background-color: #f6f6f6;
  color: #000;
}
.hta-section-2 .row:nth-child(3) {
  background-color: #fff7ea;
  padding: 2vw;
}
.hta-section-2 .row:nth-child(3) h3 {
  font-size: 2vw;
  font-weight: normal;
  margin-bottom: 3vh;
}
.hta-section-2 .row:nth-child(3) ul {
  margin-left: 1.1vw;
}
.hta-section-2 .row:nth-child(3) li {
  font-size: 1vw;
  font-weight: normal;
  margin-bottom: 2vh;
}
.hta-section-2 .row:nth-child(3) li:last-child {
  margin-bottom: 0 !important;
}
.hta-section-2 .row:nth-child(3) .column {
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
}
.hta-section-2 .row:nth-child(3) .column .inner-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3d6b6;
  padding: 1vw;
  height: 16vh;
}
.hta-section-2 .row:nth-child(3) .column .inner-column:nth-child(2) ul {
  margin-right: 3.2vw;
}
/* section-3 */
.hta-section-3 {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 2vw;
}
.hta-section-3 .row:nth-child(1) {
  width: 52%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  justify-content: center;
}
.hta-section-3 .row:nth-child(2) {
  width: 45%;
  height: 100%;
}
.hta-section-3 .row:nth-child(2) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hta-section-3 .row h3 {
  font-size: 2vw;
  font-weight: normal;
}
.hta-section-3 .row ol {
  margin-left: 1.1vw;
}
.hta-section-3 .row li {
  font-size: 1.2vw;
  margin-bottom: 2vh;
}
.hta-section-3 .row p {
  font-size: 1.2vw;
}
.hta-section-3 .row p b {
  font-weight: bold;
}
.mobile-section {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .section.horizontal {
    display: none !important;
  }
  .mobile-section {
    display: block !important;
  }
  .landing {
    height: 100px !important;
  }

  .header-main {
    z-index: 1 !important;
  }
  .header .header-img-01 {
    width: 40vw !important;
  }
  .header-img-02 {
    width: 20vw !important;
  }
  .topbar p {
    font-size: 3vw !important;
  }
  .how-to-apply {
    width: 100% !important;
    padding: 10px !important;
    display: block !important;
    margin-top: 2vh;
  }
  .hta-section-1,
  .hta-section-2,
  .hta-section-3 {
    display: block !important;
    width: 100% !important;
  }
  .hta-section-1 .row {
    width: 100% !important;
    margin-bottom: 15px !important;
  }
  .hta-section-1 .row h3,
  .hta-section-2 .row:nth-child(3) h3 {
    font-size: 5vw !important;
  }
  .hta-section-1 .row h4,
  h4 {
    font-size: 4vw !important;
  }
  .hta-section-1 .row p,
  .hta-section-1 .row li,
  .hta-section-2 .row:nth-child(3) li {
    font-size: 14px !important;
  }
  .hta-section-1 .row .column {
    padding: 15px !important;
  }
  .hta-section-2 .row:nth-child(1) {
    width: 100% !important;
    padding: 15px !important;
  }
  .hta-section-2 .row:nth-child(1) h3 {
    transform: none !important;
    font-size: 5vw !important;
    width: 100% !important;
  }
  .hta-section-2 .row:nth-child(2),
  .hta-section-2 .row:nth-child(3) {
    width: 100% !important;
  }
  .hta-section-2 .row:nth-child(2) .column .inner-column h3 {
    font-size: 5vw !important;
  }
  .hta-section-2 .row:nth-child(2) .column .inner-column p {
    font-size: 3vw !important;
  }
  .hta-section-2 .row:nth-child(2) .column .inner-column {
    width: 33.33% !important;
    padding: 3vw !important;
    height: 20vh !important;
  }
  .hta-section-2 .row:nth-child(3) {
    padding: 6vw !important;
  }
  .hta-section-3 .row:nth-child(1),
  .hta-section-3 .row:nth-child(2) {
    width: 100% !important;
  }
  .hta-section-3 .row h3 {
    font-size: 10vw !important;
  }
  .hta-section-3 .row p,
  .hta-section-3 .row li {
    font-size: 15px !important;
  }
  .hta-section-3 .row ol {
    margin-left: 4.1vw !important;
    margin-top: 10px !important;
  }
  .hta-section-3 .row:nth-child(2) {
    margin-top: 15px !important;
  }
  .hta-section-3 .row:nth-child(1) {
    padding: 20px !important;
  }
  .hta-section-2 .row:nth-child(3) .column .inner-column:nth-child(2) ul {
    margin-right: 45px;
  }
}
/* footer */
.footer {
  display: flex;
  width: 100%;
  column-gap: 3vw;
  justify-content: center;
  background: #f5f5f5;
  position: relative;
  padding: 5vw;
  padding-bottom: 5vw !important;
}
.footer > div {
  width: 25%;
  height: 100%;
}
.footer > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
.footer > div:nth-child(1) img {
  width: 14vw;
}
.footer > div:nth-child(4) img {
  width: 100%;
  object-fit: cover;
}
.footer h3 {
  font-size: 1.9vw;
  font-weight: normal;
  color: var(--color-brown);
}
.footer h4 {
  font-size: 1.3vw;
  font-weight: normal;
  color: var(--color-brown);
}
.contact-us h4 {
  margin-bottom: 2vh;
}
.footer p {
  font-size: 1vw;
  font-weight: normal;
}
.heading-foot {
  margin-bottom: 2vh;
}
.heading-foot span {
  display: flex;
  align-items: center;
  column-gap: 1vw;
}
.address-row {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
.address-row img {
  width: 1.5vw;
}
.address-row p {
  margin-left: 2.6vw;
}
.social-links {
  display: flex;
  align-items: center;
  column-gap: 1vw;
}
.social-links a:nth-child(1) img,
.social-links a:nth-child(2) img {
  width: 2vw !important;
}
.social-links a:nth-child(3) img {
  width: 1.5vw !important;
}
.social-links a:nth-child(4) img {
  width: 1.9vw !important;
}
/* form-code */
.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-group input[type="tel"] {
  border-right: none;
}

.form-group input[type="tel"]::after {
  content: "+91";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.form-group select {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.form-group select:last-child {
  margin-right: 0;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #edc77c;
  color: var(--color-brown);
  border: none;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #fff;
}
.form-group {
  margin-bottom: 10px;
}
.footer-row .form-group:last-child {
  margin-bottom: 0;
}
.footer .footer-row:nth-child(4) {
  background-color: #661414;
  padding: 1vw 2vw;
}
.footer .footer-row:nth-child(4) h3 {
  color: #fff;
  margin-bottom: 1.5vh;
  font-size: 1.5vw;
}
.foot-bottom {
  position: absolute;
  bottom: 2vh;
  display: flex;
  column-gap: 2vw;
  align-items: center;
}
.foot-bottom a {
  font-size: 1vw;
  font-weight: normal;
  border-right: solid 1px #828282;
  padding-right: 2vw;
}
.foot-bottom a:last-child {
  border: none;
}
@media only screen and (min-width: 768px) and (max-width: 1101px) {
  .hta-section-2 .row:nth-child(2) .column .inner-column {
    height: 30vh !important;
  }
}
