* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.landing {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.landing p {
  font-family: var(--font-raleway);
}
.main-landing {
  width: 100%;
  height: 100%;
}
.topbar {
  padding: 1.1vh 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  width: 100%;
  height: 7.7vh;
}
.header-main {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header {
  padding: 1.1vh 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 12vh;
  background-color: rgb(234, 234, 234);
}
.header .header-img-01 {
  width: 20vw;
}
.header-img-02 {
  width: 13vw;
}
.topbar-right-img {
  display: flex;
  align-items: center;
  column-gap: 0.8vw;
  background-color: white;
  padding: 0.5vw 1vw;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.topbar > p {
  color: var(--color-brown);
  font-weight: 500;
}
.topbar p {
  font-size: 1vw;
}
.topbar img {
  width: 2vw;
  height: 1vw;
}
.landing-main-screen {
  height: 100%;
  display: flex;
  align-items: end;
  width: 100%;
  background-image: url("../public/frame-1@3x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: bottom;
}
.main-screen-parent {
  background-color: #f5f5f5;
}
.main-screen {
  padding: 1.1vh 6vw;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  place-items: center;
}
.main-screen-left img {
  width: 6vw;
  mix-blend-mode: darken;
}
.main-screen-left p {
  font-size: 1vw;
}
.main-screen-right img {
  width: 25vw;
}
.main-screen-left {
  text-align: center;
  display: grid;
  grid-template-columns: auto 80% auto;
  place-items: center;
}
.main-screen-right {
  border-left: solid 1px #a6a6a6;
}
.red-banner {
  background-color: var(--color-brown);
  padding: 4vh 4vw;
  color: #fff;
  position: absolute;
  right: 0vh;
  bottom: 20vh;
  width: 25vw;
}
.red-banner h3 {
  font-size: 3vw;
  font-weight: 400;
}
@media only screen and (max-width: 1100px) {
  .header-main {
    position: relative !important;
    width: 100%;
    z-index: 1;
  }
  .topbar {
    height: 40px !important;
  }
  .header {
    height: 60px !important;
  }
  .header .header-img-01 {
    width: 50vw !important;
  }
  .header-img-02 {
    width: 24vw !important;
  }
  .topbar p {
    font-size: 3vw !important;
  }
  .topbar-right-img p {
    display: none !important;
  }
  .topbar img {
    width: 9vw !important;
    height: 7vw !important;
  }
  .topbar-right-img {
    padding: 6px !important;
    border-radius: 0 !important;
    box-shadow: none;
    background-color: transparent;
  }
  .deans-bottom-row > div {
    width: 100% !important;
  }
  .deans-bottom-row {
    flex-direction: column !important;
  }
  .deans-row-top {
    padding-top: 44px !important;
  }
  div.menu-top a {
    font-size: 16px !important;
  }
  div.dropdown button {
    font-size: 16px !important;
  }
}

/* styles\iqac.css */
.row-iqac {
  display: flex;
  flex-direction: column;
  row-gap: clamp(20px, 3vh, 3vh);
  padding-top: clamp(20px, 0vh, 0vh);
  padding-bottom: clamp(20px, 0vh, 0vh);
}
.row-iqac img {
  width: 100%;
  object-fit: cover;
}
.row-iqac .row-inner-content-div {
  display: flex;
  flex-direction: column;
  row-gap: clamp(15px, 3vh, 3vh);
}
.row-iqac .row-inner-content-div h2 {
  font-size: clamp(20px, 2vw, 2vw);
  color: var(--color-brown);
  font-weight: 600;
}
.row-iqac .row-inner-content-div h3,
.row-workshops-seminar h3 {
  font-size: clamp(18px, 1.5vw, 1.5vw);
  color: var(--color-brown);
  font-weight: 500;
}
.row-iqac .row-inner-content-div p,
.row-iqac .row-inner-content-div li {
  font-size: clamp(15px, 1vw, 1vw);
  font-weight: 400;
}
.row-iqac .row-inner-content-div ul,
.row-iqac .row-inner-content-div ol {
  padding-left: clamp(20px, 2vw, 2vw);
}
/* From Uiverse.io by reshades */
.row-iqac .button {
  background-color: #ffffff00;
  color: var(--color-brown);
  width: 210px;
  height: 2.9em;
  border: var(--color-brown) 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.row-iqac .button:hover {
  background-color: var(--color-brown);
  cursor: pointer;
  color: #fff;
}

.row-iqac .button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.row-iqac .button:hover svg {
  transform: translateX(5px);
}

.row-iqac .text {
  margin: 0 1.5em;
}
/* workshop-seminar-css */
.row-workshops-seminar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(20px, 3vw, 3vw);
}
.column-workshops-seminar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: clamp(20px, 3vh, 3vh);
}
.column-workshops-seminar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.column-workshops-seminar:hover img {
  transform: scale(1.1);
}
.image-box-workshop-seminar {
  overflow: hidden;
  border-radius: 10px;
}
/* deans-page-css */
#deans-sec {
  position: relative;
  background-color: #f2efea;
}
#deans-sec ul,
#deans-sec ol {
  padding-left: clamp(20px, 2vw, 2vw);
}
#deans-sec h2 {
  font-size: clamp(20px, 2vw, 2vw);
  font-weight: 600;
}
#deans-sec h3 {
  font-size: clamp(18px, 1.5vw, 1.5vw);
  font-weight: 500;
}
#deans-sec p,
#deans-sec li {
  font-size: clamp(15px, 1vw, 1vw);
  font-weight: 400;
}
.deans-row-top {
  padding: 5vw 6vw;
  background-color: var(--color-brown);
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: #fff;
  min-height: clamp(200px, 50vh, 50vh);
}
.deans-bottom-row {
  display: flex;
  column-gap: 3vw;
  padding: 2vw 6vw;
  margin-top: -33vh;
}
.deans-bottom-row > div:nth-child(1) {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 3vh, 3vh);
}
.deans-bottom-row > div:nth-child(1) img {
  width: 100%;
  object-fit: cover;
}
.deans-bottom-row > div:nth-child(2) {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: clamp(15px, 2vh, 2vh);
}
#deans-sec li:not(:last-child) {
  margin-bottom: 5px;
}
.profile {
  padding: clamp(20px, 2vw, 2vw);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: clamp(15px, 2vh, 2vh);
}
.profile.profile2 {
  background-color: #e4e4e4;
}
/* testimonial-video-popup-css */
/* Play icon styling */
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  opacity: 0.7;
  pointer-events: none;
}

.video-thumbnail {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  height: 93%;
}

.video-thumbnail img {
  width: 100%;
  border-radius: 10px;
}

/* Popup styles */

.video-popup {
  display: none;
  position: fixed; /* Fixed to the viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the popup exactly */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's always on top */
}

/* Popup content styling */
.video-popup-content {
  position: relative;
  width: 80%;
  max-width: 800px;
}

#popup-video {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 10px;
}

/* Close button */
.close-popup {
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .video-popup-content {
    width: 95%;
  }

  #popup-video {
    height: 250px;
  }
  .row-workshops-seminar {
    grid-template-columns: repeat(1, 1fr);
  }
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
#deans-desk-column {
  position: relative;
}
#deans-desk-column a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  font-size: clamp(18px, 1.5vw, 1.5vw);
  text-decoration: none;
  font-weight: 600;
  background-color: #000;
  padding: 8px 20px;
  border-radius: 10px;
  display: none;
}
#deans-desk-column:hover a {
  display: block;
}

/* help-and-support-page-css-starts-here */
#help-and-support {
  position: relative;
  height: 100%;
  margin: 0 6vw;
  padding-top: clamp(20px, 2vh, 2vh);
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.members-table th,
.members-table td {
  border: 1px solid #000;
  padding: 12px;
  text-align: left;
}

.members-table th {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.members-table td {
  background-color: #e6e6e6;
}

.members-table td a {
  color: #0000ff;
  text-decoration: none;
}

.members-table td a:hover {
  text-decoration: underline;
}

.members-table .category td {
  background-color: #444;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.members-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.members-table tr:hover {
  background-color: #ddd;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .members-table thead {
    display: none;
  }

  .members-table tr {
    display: block;
    margin-bottom: 10px;
  }

  .members-table td {
    display: block;
    text-align: center;
    position: relative;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  .members-table td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: calc(50% - 10px);
    text-align: left;
    font-weight: bold;
  }
}

/* student-affairs-css-starts-here */
#student-affairs {
  position: relative;
  margin: 0 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
#student-affairs h1 {
  font-size: clamp(25px, 2.5vw, 2.5vw);
  color: var(--color-brown);
}
